  <!-- RECOMMENTATIONS -->
    <div id="recommandations" role="tabpanel" class="hidden">
      <div
        data-state="active"
        data-orientation="horizontal"
        role="tabpanel"
        aria-labelledby="radix-«rc»-trigger-recommandations"
        id="radix-«rc»-content-recommendations"
        tabindex="0"
        class="ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 mt-6"
      >
        <div class="rounded-lg border bg-card text-card-foreground shadow-sm">
          <div class="flex flex-col space-y-1.5 p-6">
            <div class="text-2xl font-semibold leading-none tracking-tight">
              Recommandations Projects
            </div>
            <div class="text-sm text-muted-foreground">
              Project approved based on your recommendations
            </div>
          </div>
          <div class="p-6 pt-0">
            <div class="space-y-6">
              <div>
                <div class="flex justify-between mb-2">
                  <h3 class="font-medium">project Connect</h3>
                  <span class="text-sm text-muted-foreground"
                    >42 Recommandations</span
                  >
                </div>
                <div class="flex -space-x-2 overflow-hidden">
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-orange-100 flex items-center justify-center text-orange-500 text-xs font-bold"
                  >
                    SA
                  </div>
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-orange-100 flex items-center justify-center text-orange-500 text-xs font-bold"
                  >
                    JW
                  </div>
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-orange-100 flex items-center justify-center text-orange-500 text-xs font-bold"
                  >
                    MC
                  </div>
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-orange-100 flex items-center justify-center text-orange-500 text-xs font-bold"
                  >
                    KL
                  </div>
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-orange-100 flex items-center justify-center text-orange-500 text-xs font-bold"
                  >
                    RB
                  </div>
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-muted flex items-center justify-center text-xs font-medium"
                  >
                    +37
                  </div>
                </div>
              </div>
              <div
                data-orientation="horizontal"
                role="none"
                class="shrink-0 bg-border h-[1px] w-full"
              ></div>
              <div>
                <div class="flex justify-between mb-2">
                  <h3 class="font-medium">SkillNet</h3>
                  <span class="text-sm text-muted-foreground"
                    >36 Recommandations</span
                  >
                </div>
                <div class="flex -space-x-2 overflow-hidden">
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-orange-100 flex items-center justify-center text-orange-500 text-xs font-bold"
                  >
                    TJ
                  </div>
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-orange-100 flex items-center justify-center text-orange-500 text-xs font-bold"
                  >
                    AM
                  </div>
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-orange-100 flex items-center justify-center text-orange-500 text-xs font-bold"
                  >
                    DP
                  </div>
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-orange-100 flex items-center justify-center text-orange-500 text-xs font-bold"
                  >
                    SL
                  </div>
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-orange-100 flex items-center justify-center text-orange-500 text-xs font-bold"
                  >
                    EW
                  </div>
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-muted flex items-center justify-center text-xs font-medium"
                  >
                    +31
                  </div>
                </div>
              </div>
              <div
                data-orientation="horizontal"
                role="none"
                class="shrink-0 bg-border h-[1px] w-full"
              ></div>
              <div>
                <div class="flex justify-between mb-2">
                  <h3 class="font-medium">TeamUp</h3>
                  <span class="text-sm text-muted-foreground"
                    >29 Recommandations</span
                  >
                </div>
                <div class="flex -space-x-2 overflow-hidden">
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-orange-100 flex items-center justify-center text-orange-500 text-xs font-bold"
                  >
                    BK
                  </div>
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-orange-100 flex items-center justify-center text-orange-500 text-xs font-bold"
                  >
                    LM
                  </div>
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-orange-100 flex items-center justify-center text-orange-500 text-xs font-bold"
                  >
                    CN
                  </div>
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-orange-100 flex items-center justify-center text-orange-500 text-xs font-bold"
                  >
                    RD
                  </div>
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-orange-100 flex items-center justify-center text-orange-500 text-xs font-bold"
                  >
                    JT
                  </div>
                  <div
                    class="h-8 w-8 rounded-full border-2 border-background bg-muted flex items-center justify-center text-xs font-medium"
                  >
                    +24
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
