<!-- ABOUT -->
<div id="about" role="tabpanel" class="">
  <div class="rounded-lg border bg-card text-card-foreground shadow-sm">
    <div class="flex flex-col space-y-1.5 p-6">
      <div class="text-2xl font-semibold leading-none tracking-tight">
        About Me
      </div>
    </div>
    <div class="p-6 pt-0">
      <p
        class="text-muted-foreground whitespace-pre-line"
        *ngIf="userProfile?.about; else noAbout"
      >
        {{ userProfile?.about }}
      </p>
      <ng-template #noAbout>
        <p class="text-muted-foreground italic">
          L'utilisateur n'a pas encore renseigné sa bio.
        </p>
      </ng-template>
    </div>
  </div>
  

  <div class="rounded-lg border bg-card text-card-foreground shadow-sm mt-6">
    <div class="flex flex-col space-y-1.5 p-6">
      <div class="text-2xl font-semibold leading-none tracking-tight">
        Skills
      </div>
    </div>
    <div *ngIf="skills?.length; else noSkills" class="p-6 pt-0">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div *ngFor="let skill of skills" class="space-y-2">
          <div>
            <div class="flex justify-between mb-1">
              <span class="text-sm">{{ skill.name }}</span>
              <span class="text-sm text-muted-foreground">
                {{ getSkillLevel(skill.experience_percentage || 0) }}
              </span>
            </div>
            <div class="h-2 bg-muted rounded-full overflow-hidden">
              <div
                class="h-full bg-primary"
                [style.width.%]="skill.experience_percentage || 0"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noSkills>
      <p class="text-muted-foreground italic mt-4 px-6 pb-6">
        Aucune compétence renseignée.
      </p>
    </ng-template>
  </div>
</div>
