<div class="rounded-lg border bg-card text-card-foreground shadow-sm">
  <div class="flex flex-col space-y-1.5 p-6">
    <div class="text-2xl font-semibold leading-none tracking-tight">
      Mes Projects
    </div>
  </div>
  <div class="p-6 pt-0">
    <div class="space-y-6">
      <div *ngFor="let project of projects; trackBy: trackById">
        <div class="flex">
          <div class="mr-4 mt-1">
            <div
              class="h-10 w-10 rounded-full bg-orange-100 flex items-center justify-center text-orange-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-briefcase h-5 w-5"
              >
                <path d="M16 20V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                <rect width="20" height="14" x="2" y="6" rx="2"></rect>
              </svg>
            </div>
          </div>

          <!-- Bloc vertical avec bouton en bas -->
          <div class="flex flex-col justify-between w-full min-h-[200px]">
            <!-- Contenu principal -->
            <div>
              <h3 class="font-medium">{{ project.title }}</h3>
              <p class="text-sm text-muted-foreground mt-4">
                {{ project.description }}
              </p>
              <p class="text-muted-foreground mt-2">
                {{ project.date_start }} - {{ project.date_end }}
              </p>
            </div>

            <!-- Bouton en bas -->
            <div class="flex justify-between items-end mt-4">
              <div>
                <p class="text-left mt-5 font-bold">
                  {{
                    project.total_candidacies_count > 0
                      ? project.total_candidacies_count + " Candidature(s)"
                      : "Aucune candidature"
                  }}
                </p>
              </div>

              <div>
                <p class="text-left font-bold">
                  {{
                    project.total_pending_invitation > 0
                      ? project.total_pending_invitation + "Invitation(s)"
                      : "Aucune invitation"
                  }}
                </p>
                <!-- <p class="text-sm text-muted-foreground">Invitation</p> -->
              </div>
              <button
                class="bg-amber-600 hover:bg-amber-600 text-white font-bold py-1 px-2 rounded"
                [routerLink]="['/project', project.id]"
              >
                Voir plus
              </button>
            </div>
          </div>
        </div>

        <!-- Séparateur -->
        <div
          data-orientation="horizontal"
          role="none"
          class="shrink-0 bg-border h-[1px] w-full"
        ></div>
      </div>

      <!-- Pagination -->
      <div class="flex justify-center mt-6 space-x-2">
        <button
          *ngFor="let page of pages"
          class="px-3 py-1 border rounded"
          [class.bg-amber-600]="page === currentPage"
          [class.text-white]="page === currentPage"
          (click)="changePage(page)"
        >
          {{ page }}
        </button>
      </div>
    </div>
  </div>
</div>
